body {
  margin: 0;
  background-color: white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

div.register{
  z-index: 1;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('./img/fundo_mesa.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
  background-size: cover;

}
div.spaceregister {
  z-index: 2;
  background-color: rgb(247, 248, 248);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 45%;
  height: 45%;
}

.inputfirtscreen{
  display: block;
  margin-left: 18%;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(128, 128, 128);
}

body {
  font-family: sans-serif;
  margin: 0;
}
img#poker {
  max-width: 40px;
  max-height: 40px;
  margin-top: 30px;
  margin-left: 30px;
  float: left;
  border: transparent thin solid;
  padding: 5px;
  margin: 0px 10px 10px 0;
  margin-top: 35px;
  margin-left: 35px;
}
h1 {
  display: inline-block;
  padding-top: 25px;
  font-size: 30px;
}
p.textp {
  text-align: center;
  font-size: normal 7px arial;
  color: black;
  margin-top: 10%;
}
input.namegame {
  appearance: none;
  background: transparent;
  border: 2px solid #e8e9ea;
  border-radius: 10px;
  color: black;
  width: 500px;
  height: 50px;
  padding: 0 1.6rem;
  font-size: 20px;
  border-color: #74b3ff;
  margin-left: 18%;
}
select {
  appearance: none;
  background: transparent;
  border: 2px solid #e8e9ea;
  border-radius: 10px;
  color: black;
  width: 555px;
  height: 50px;
  padding: 0 1.6rem;
  font-size: 20px;
  border-color: #74b3ff;
  margin-left: 18%;
}
input.creategame {
  display: block;
  background: #3993ff;
  color: white;
  border-radius: 10px;
  margin-top: 30px;
  width: 555px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  border-color: #74b3ff;
  margin-left: 18%;
}

.align {
  display: flex;
  justify-content: right;
  align-items: center;
}

#closecn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.4;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#closecn:hover {
  background-color: rgb(184, 178, 178);
}

div.nmplayer {
  z-index: 3;
  background-color: rgba(26, 41, 53, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.alignleft {
  margin-left: 3%;
}

div.spacename {
  z-index: 4;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 30%;
  height: 25%;
  padding: 20px 20px;
}

h4.h4cyn {
  font-size: 25px;
  margin-top: 1.5%;
  margin-bottom: 0;
}

.kitbula {
  margin-top: 4%;
}

label.displayname {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
}

input.displayname {
  appearance: none;
  background: transparent;
  border: 2px solid #e8e9ea;
  border-radius: 10px;
  color: black;
  width: 500px;
  height: 50px;
  padding: 0 1.6rem;
  font-size: 20px;
  border-color: #74b3ff;
  margin-left: 18%;
}

input.displaynamenew{
  appearance: none;
  background: transparent;
  border: 2px solid #e8e9ea;
  border-radius: 10px;
  color: black;
  width: 500px;
  height: 50px;
  padding: 0 1.6rem;
  font-size: 20px;
  border-color: #74b3ff;
}

button.cg {
  margin-top: 5%;
  border-radius: 10px;
  height: 50px;
  width: 97%;
  color: rgb(255, 255, 255);
  background: #3993ff;
  border-color: rgb(224, 219, 219);
  font-size: 120%;
  font-weight: bold;
  font-weight: bold;
}

div.dialog {
  z-index: 5;
  background-color: rgba(26, 41, 53, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.hidden {
  display: none;
}
.addDeck {
  z-index: 6;
  background-color: rgb(247, 248, 248);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 100%;
  height: 150%;
}

i#close {
  float: right;
  margin-right: 4%;
  margin-top: 20px;
}

h4.h4cd {
  font-size: 25px;
  margin-left: 9%;
  margin-top: 6%;
  margin-bottom: 0;
}

input.inputdeck {
  margin-left: 9%;
  margin-top: 5%;
  appearance: none;
  background: transparent;
  border: 2px solid #e8e9ea;
  border-radius: 10px;
  color: black;
  width: 70%;
  height: 50px;
  padding: 0 1.6rem;
  font-size: 20px;
  border-color: #74b3ff;
}

i#detail {
  margin-left: 9%;
  margin-top: 2%;
}
p.pdetails {
  display: inline-block;
}
p.preview1 {
  margin-left: 9%;
  font-weight: bold;
  color: #48545d;
  font-size: 20px;
}

p.preview2 {
  margin-left: 9%;
  font-size: 20px;
}
ul.previewcards {
  margin-left: 8.7%;
  width: auto;
  height: 85px;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 1px solid rgb(236, 233, 233);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 15.5%;
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: inherit;
}

button.canceldeck {
  border-radius: 10px;
  height: 50%;
  width: 30%;
  padding: 15px;
  margin-left: 14%;
  color: #3993ff;
  background: rgb(255, 255, 255);
  border-color: rgb(224, 219, 219);
  font-size: 120%;
}
button.savedeck {
  border-radius: 10px;
  height: 50%;
  width: 30%;
  padding: 15px;
  margin-left: 8%;
  color: rgb(255, 255, 255);
  background: #3993ff;
  border-color: rgb(224, 219, 219);
  font-size: 120%;
  font-weight: bold;
}
button.card {
  border-radius: 0.8rem;
  font-size: 19px;
  height: 5rem;
  min-width: 3rem;
  border-color: #3993ff;
  background: white;
  margin-left: 8px;
}
button.card:hover {
  background: rgb(233, 231, 231);
  margin-top: -10px;
}
.hover:hover {
  cursor: pointer;
}
/*
##########################################################
##########################################################
#-> CSS a baixo para a aparte da Tela d Jogo            ##
##########################################################
##########################################################
*/
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}

div.esquerda {
  display: flex;
  justify-content: left;
  align-items: center;
}

img.logopoker {
  max-width: 50px;
  max-height: 50px;
  border: transparent thin solid;
}

label.namegame {
  font-size: 20px;
  font-weight: bold;
  margin: 0 18px;
}

i#gear {
  margin: 10px 0;
}

div.direita {
  justify-content: right;
  align-items: center;
}

button.profile {
  align-items: center;
  background-color: transparent;
  border-radius: 0.8rem;
  color: #48545d;
  cursor: pointer;
  border: 0;
  font-size: 1.4rem;
  font-weight: 700;
  height: 2rem;
  letter-spacing: 0.02em;
  text-align: center;
  letter-spacing: 2px;
}

button.profile:hover {
  background-color: rgb(204, 199, 199);
}

#escon {
  position: absolute;
}

.changenameplayer {
  height: 80px;
  width: 300px;
  background-color: rgb(235, 229, 229);
  margin-top: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.inputchangenameplayer {
  background-color: rgb(235, 229, 229);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: 18px;
}

.pencil {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.4;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

.pencil:hover {
  background-color: rgb(95, 91, 92);
}

button.invite {
  border-color: #3993ff;
  color: #3993ff;
  background-color: #fff;
  border: 2px solid;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  height: 3rem;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 18px;
}

button.invite:hover {
  background-color: #bfd7f5;
}

button.qrcode {
  border-color: #3993ff;
  color: #3993ff;
  background-color: #fff;
  border: 2px solid;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  height: 3rem;
  width: 3rem;
  letter-spacing: 0.02em;
  text-align: center;
}

button.issue:hover {
  background-color: #bfd7f5;
}

/*Espaço para gerar a tela do QR code*/
#qrcodehide {
  z-index: 7;
  background-color: rgba(26, 41, 53, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

div.spaceqrcode {
  z-index: 8;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 50%;
  height: 60%;
  padding: 30px;
}

.closeqrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

div#qrcode {
  width: 160px;
  height: 160px;
  margin-top: 15px;
}

.closeqrcode:hover {
  background: rgb(184, 178, 178);
}

img#imageQRCode {
  height: 500px;
  width: 500px;
}

input#qrcodecontent {
  appearance: none;
  background: transparent;
  border: 2px solid #e8e9ea;
  border-radius: 10px;
  width: 80%;
  height: 30px;
  border-color: #74b3ff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #1a2935;
  font-size: 1rem;
}

#alignqrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock {
  margin-left: 45px;
  margin-top: 80px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #d0e3fa;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.4;
  outline: none;
}

.clock:hover {
  background: #85b5ec;
}

.midle {
  align-items: center;
  margin-top: 150px;
}

.emoji {
  text-align: center;
}
.invite {
  text-align: center;
  color: #3993ff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.invite:hover {
  color: #74b3ff;
}
.tabel {
  background: #d7e9ff;
  border-radius: 2.8rem;
  grid-area: table;
  height: auto;
  margin: 0 auto;
  min-height: 10rem;
  min-width: 20rem;
  padding: 0 1.6rem;
  position: relative;
  width: 15%;
  align-items: center;
  display: flex;
  justify-content: center;
}

#players{
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

button.RevelCards {
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  width: 10rem;
  letter-spacing: 0.02em;
  color: white;
  font-weight: bold;
  background-color: #3993ff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: absolute;
}

button.StartNewVoting{
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  width: 10rem;
  letter-spacing: 0.02em;
  color: white;
  font-weight: bold;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: absolute;
}

p#timer{
  font-weight: bold;
  color: #74b3ff;
  font-size: 30px;
}

.cardplayer {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 2%; 
}

.cardplayerplay {
  background: #e8e9ea;
  height: 5rem;
  width: 3rem;
  border-radius: 0.8rem;
  margin: 0 15px;
}

.nameplayeraftercard {
  text-align: center;
  
}

img.imgbackcard {
  height: 5rem;
  width: 3rem;
  border-radius: 0.8rem;
}

.resultofvoting{
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: white;
  margin-top: 90px;
}

.sapceresult{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: auto;
}

div.bar{
  height: 200px;
  width: 15px;
  background-color: black;
  margin: 0 30px;
}

div.cheapresult{
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.cardresults{
  border-radius: 0.8rem;
  font-size: 19px;
  height: 5rem;
  width: 3rem;
  border-color: black;
  background: white;
  border: 2px solid black;
  cursor: pointer;
  color: black;
}

.alignvotecards{
  align-items:center;
  justify-content: center;
  margin: 0 10px;
}

.average{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voteaftercard{
  text-align: center;
}

p.choosecard {
  text-align: center;
  margin-top: 220px;
}

.cheapplayer {
  display: flex;
}

.news {
  width: 70px;
  height: 70px;
  background: #74b3ff;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.4;
  outline: none;
  position: absolute;
  margin-left: 30px;
}

.news:hover {
  opacity: 1;
}

div.cheap {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

button.card {
  border-radius: 0.8rem;
  font-size: 19px;
  height: 5rem;
  min-width: 3rem;
  border-color: #3993ff;
  background: white;
  margin-left: 12px;
  border: 2px solid #3993ff;
  cursor: pointer;
  color: #3993ff;
}

.cardnew{
  border-radius: 0.8rem;
  font-size: 19px;
  height: 5rem;
  min-width: 3rem;
  border-color: #3993ff;
  background: white;
  border: 2px solid #3993ff;
  cursor: pointer;
  color: #3993ff; 
}

.cheap button.card:hover {
  margin-top: -10px;
  background: #c9def8;
}

button.card.ativo {
  color: white;
  background: #3993ff;
  margin-top: -10px;
}
/*Estilo para a configuração do timer*/

#time {
  position: absolute;
  margin-left: 40px;
  height: 14rem;
  width: 18rem;
  border-radius: 15px;
  background-color: rgb(245, 238, 238);
}
.minutes {
  margin-left: 10px;
  margin-top: 15px;
}
input#min {
  border-radius: 0.6rem;
  border-color: #e0e3e6;
  font-size: 1rem;
  height: 2.7rem;
  outline: none;
  padding: 0 1rem;
  position: relative;
  width: 80%;
  margin-top: 7px;
  -moz-appearance: textfield;
}

.switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch__container {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  margin-top: 10px;
  align-items: center;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.switch--shadow + label {
  padding: 2px;
  width: 50px;
  height: 25px;
  background-color: #dddddd;
  border-radius: 30px;
}

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 10px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 28px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.switch--shadow:checked + label:before {
  background-color: #8ce196;
}
.switch--shadow:checked + label:after {
  transform: translateX(25px);
}

.buttonplaytimer {
  display: flex;
  justify-content: center;
}

button.buttonplay {
  background-color: #3993ff;
  width: 70%;
  border-radius: 10px;
  border-color: #3993ff;
  box-shadow: none;
  height: 40px;
  margin-top: 8px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/*Estilo para configuração do News*/
.spacenews {
  margin-left: 120px;
  margin-top: -250px;
  height: 20rem;
  width: 25rem;
  background: rgb(233, 228, 228);
  position: absolute;
  padding-left: 20px;
  line-height: 20px;
  padding-top: 0;
  border-radius: 15px;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.forright {
  display: flex;
  justify-content: right;
  align-items: center;
}

.closex {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0.4;
  outline: none;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.closex:hover {
  background: rgb(184, 178, 178);
}

p.date {
  color: #a8aeb2;
}

p.title {
  font-weight: bold;
}

p.sugestion {
  margin-top: 40px;
}
/*Parte para Invite Players*/

.dialog2 {
  z-index: 9;
  background-color: rgba(26, 41, 53, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.inviteplayers {
  z-index: 10;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 32%;
  height: 27%;
  padding: 25px;
}

.closexinvite {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.4;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closexinvite:hover {
  background-color: rgb(184, 178, 178);
}

.alignleft {
  margin-left: 18px;
}

h4.titleinviteplayers {
  color: #1a2935;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.labelurl {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
}

.inputurlfix {
  appearance: none;
  background: transparent;
  border: 2px solid #e8e9ea;
  border-radius: 10px;
  width: 95%;
  height: 50px;
  border-color: #74b3ff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #1a2935;
  font-size: 1.1rem;
}

.copyurllink {
  margin-top: 5%;
  border-radius: 10px;
  height: 50px;
  width: 97%;
  color: rgb(255, 255, 255);
  background: #3993ff;
  border-color: rgb(224, 219, 219);
  font-size: 120%;
  font-weight: bold;
  font-weight: bold;
}